{% extends 'templates/app.twig' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/login.css">
{% endblock %}

{% block body_start %}{% endblock %}

{% block content %}
    {{ parent() }}
<div class="modal" id="login-modal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="login-form" action="{{ path_for('login') }}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="login-title">{{trans("common.log_in")}}</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="username">{{trans("common.username")}}</label>
                        <input type="username" class="form-control" id="username" name="username" placeholder="{{trans("common.username")}}">
                    </div>
                    <div class="form-group">
                        <label for="password">{{trans("common.password")}}</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="{{trans("common.password")}}">
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="{{ path_for('signup')}}">{{trans("common.sign_up")}}</a>
                    <button type="submit" class="btn btn-primary">{{trans("common.log_in")}}</button>
                </div>
                <input type="hidden" name="redirect-url" value="{{ redirectUrl }}">

                {{ csrf.field | raw }}
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block body_end %}
    {{ parent() }}
    <script>
        $("#login-modal").modal({
            keyboard: false,
            show: true,
            backdrop: "static"
        });
    </script>
{% endblock %}
