{% extends 'templates/app.twig' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/signup.css">
{% endblock %}

{% block body_start %}{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="modal" id="signup-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="signup-form" action="{{ path_for('signup') }}" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="signup-title">{{trans("common.sign_up")}}</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="nickname">{{trans("common.nickname")}}</label>
                            <input type="text" class="form-control" id="nickname" name="nickname" value="{{ old.nickname }}">
                        </div>
                        <div class="form-group">
                            <label for="username">{{trans("common.username")}}</label>
                            <input type="username" class="form-control" id="username" name="username" value="{{ old.username }}">
                            {% if errors.username %}
                                <small class="form-text text-danger">{{ errors.username | first }}</small>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="password">{{trans("common.password")}}</label>
                            <input type="password" class="form-control" id="password" name="password">
                            {% if errors.password %}
                                <small class="form-text text-danger">{{ errors.password | first }}</small>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="password-again">{{trans("common.password_again")}}</label>
                            <input type="password" class="form-control" id="password-again" name="password_again">
                            {% if errors.password_again %}
                                <small class="form-text text-danger">{{ errors.password_again | first }}</small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">{{trans("common.sign_up")}}</button>
                    </div>
                    <input type="hidden" name="redirect-url" value="{{ redirectUrl }}">

                    {{ csrf.field | raw }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block body_end %}
    {{ parent() }}
    <script>
    $("#signup-modal").modal({
        keyboard: false,
        show: true,
        backdrop: "static"
    });
    </script>
{% endblock %}
