<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item{% if is_current_path('home') %} active{% endif %}">
        <a class="nav-link" href="{{ path_for('home') }}">Home</a>
      </li>
      {% if user_in(['user', 'admin']) %}
        <li class="nav-item{% if is_current_path('page1') %} active{% endif %}">
          <a class="nav-link" href="{{ path_for('page1') }}">Page 1</a>
        </li>
      {% endif %}
    </ul>
    <ul class="navbar-nav navbar-right">
      {% if auth.user %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
            {{ auth.user.username }}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/logout">{{trans("common.log_out")}}</a>
          </div>
        </li>
      {% else %}
        <li class="nav-item align-self-end">
            <a class="nav-link" href="/login">{{trans("common.log_in")}}</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>